# when running app on emulator http://10.0.2.2:3000
EXPO_PUBLIC_API_URL=http://192.168.100.26:3000
EXPO_PUBLIC_APP_NAME=My Own Money Manager
EXPO_PUBLIC_APP_SHARE_URL=https://example.com/myownmoneymanager
EXPO_PUBLIC_LEGAL_APP_STORE_POLICY_SNIPPETS_URL=
EXPO_PUBLIC_LEGAL_CYBER_LIABILITY_STATEMENT_URL=
EXPO_PUBLIC_LEGAL_DATA_PROCESSING_ADDENDUM_URL=
EXPO_PUBLIC_LEGAL_PRIVACY_POLICY_URL=
EXPO_PUBLIC_LEGAL_TERMS_OF_SERVICE_URL=
EXPO_PUBLIC_LEGAL_ACCOUNT_DELETION_POLICY_URL=
EXPO_PUBLIC_LEGAL_COOKIE_TRACKING_NOTICE_URL=
API_URL=http://192.168.100.26:3000
ROLLBAR_ACCESS_TOKEN=your_rollbar_access_token_here